/*
 * $Mixins
 */
/*--- $Clearfix ---*/
/*--- $Lighten ---*/
/*--- $Transition ---*/
/*--- $Horziontal List ---*/
/*--- $Unstyled list ---*/
.unstyled-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/*--- $buttons ---*/
/*--- $Shadows ---*/
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.icon-link {
  background-color: transparent;
  padding-left: 1.8em;
  display: inline-block;
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  background-size: 24px 24px;
  background-position: left center;
  background-repeat: no-repeat;
}
/*---  Layouts ---*/
.site-header .brand h1 {
  background-image: url('../img/rniblogo@2.png');
  -webkit-background-size: 280px 53px;
  -moz-background-size: 280px 53px;
  -o-background-size: 280px 53px;
  background-size: 280px 53px;
}
.download-pack .button {
  background-image: url('../img/dl-icon@2.png');
}
.symptoms .message {
  background-image: url('../img/info-icon@2.png');
}
.multimedia .transcript {
  background-image: url('../img/transcript@2.png');
}
.multimedia .radio {
  background-image: url('../img/radio@2.png');
}
.what-next .download-again {
  background-image: url('../img/download-again@2.png');
}
.flex-direction-nav a {
  background-image: url('../img/slides-nav@2.png');
}
