/*
 * $Mixins
 */
/*--- $Clearfix ---*/
/*--- $Lighten ---*/
/*--- $Transition ---*/
/*--- $Horziontal List ---*/
/*--- $Unstyled list ---*/
.unstyled-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/*--- $buttons ---*/
/*--- $Shadows ---*/
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.icon-link {
  background-color: transparent;
  padding-left: 1.8em;
  display: inline-block;
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  background-size: 24px 24px;
  background-position: left center;
  background-repeat: no-repeat;
}
/*---  Layouts ---*/
body {
  line-height: 1.6em;
}
.page-content,
.navigation {
  margin: 0 auto;
}
.secondary-nav {
  width: 50%;
  float: right;
}
.secondary-nav ul {
  float: right;
}
.site-header {
  padding-bottom: 1em;
}
.introduction {
  background: #ffffff url(../img/flare.png) 150px 70% no-repeat;
  background-size: 700px;
}
.introduction .container {
  padding: 2em 0;
}
.title {
  width: 60%;
  float: left;
}
.title h1 {
  font-size: 3.5em;
}
.introduction .download-pack {
  width: 33%;
  float: right;
  margin-top: 9em;
  margin-bottom: 0;
}
.introduction .download-pack .button {
  float: right;
}
.introduction .download-pack p {
  float: right;
}
/*
 Symptoms
 */
.symptoms {
  padding: 3em 0;
}
.symptoms-breakdown {
  max-width: 1140px;
  margin: 1em auto;
}
.symptoms-breakdown .unit {
  width: 32%;
  float: left;
  margin-right: 2%;
}
.symptoms-breakdown .last {
  margin-right: 0;
}
.site-footer {
  font-size: .777777778em;
  /*14px*/

}
.site-footer .contact-info {
  zoom: 1;
  margin-left: 0px;
  list-style: none;
}
.site-footer .contact-info:before,
.site-footer .contact-info:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.site-footer .contact-info:after {
  clear: both;
}
.site-footer .contact-info li {
  display: inline-block;
  /* IE7 fix */

  zoom: 1;
  *display: inline;
  margin-right: 1em;
}
.site-footer .contact-info li:last-child {
  margin-right: 0px;
}
.site-footer .contact-info li {
  float: none;
  width: auto;
}
/*
	Video and radio embeds
*/
.multimedia {
  padding: 2em 0;
  background: url(../img/flare.png) left 7em no-repeat;
}
/* 
 about section
 */
.about-rnib {
  padding: 4em 0;
  margin-bottom: 2em;
}
.newsletter-form-wrap {
  width: 41%;
  float: left;
}
.about-content {
  width: 55%;
  float: right;
}
.app-content {
  width: 61%;
  float: left;
}
.app-badge {
  float: left;
  width: 29%;
}
.app-badge a {
  margin: 2em auto 0;
}
.download-app,
.what-next {
  padding: 2em 0;
}
