@import "mixins.less";

body {
    font-size: 18px;
}

.page-content {
    width: 71%;
    float: left;
}

.navigation {
    width: 25%;
    float: right;
    margin-left: 4%;
}

  .download-pack {
    margin-top: 9em;
    margin-bottom: 0;
  }


/*
 Symptoms
 */
.symptoms-breakdown {
  p {
	  line-height: 1.5em;
  }
}

/*
	Download app
*/

.svg {
	/* Using Modernizer to check for svg support */
	.app-badge {
		a {
			height: 3.333333333em;
			width: 10.833333333em;
			background-image: url('../img/app-store.svg');
			.background-size(10.833333333em, 3.333333333em);

		}
	}
}